@page "/"
<div class="fullAuth">
    <div class="auth-page">
        <div class="auth-left">
            <img src="lib/siemens-logo.png" alt="Siemens Logo" class="siemens-logo" />

            <h2 class="flow-title">Flow Simulator</h2>
            <div class="auth-underline"></div>
            <h3 class="auth-motto">Approve, optimize, evolve – all in one place.</h3>
        </div>

        <div class="auth-right">
            <form class="auth-form" @onsubmit="HandleLogin">
                <h2 class="auth-title">Login</h2>
                <p class="auth-subtitle">Access your account</p>

                <input type="email" placeholder="Email" @bind="email" required />
                <input type="password" placeholder="Password" @bind="password" required />

                <button type="submit">Sign in</button>
                <a href="#" class="forgot-password">Reset Password?</a>

                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <p class="auth-error">@errorMessage</p>
                }
            </form>
        </div>
    </div>
</div>
