@page "/permissions"

@using FlowManager.Domain.Entities
@using FlowManager.Client.Services
@inject StepService StepService
@inject UserService UserService

<div class="popup-backdrop">
    <div class="steps-management-container">
        <div class="modal-header">
            <h3>IN PROGRESS</h3>
        </div>
    </div>
</div>

