@using FlowManager.Client.ViewModels;
@using FlowManager.Shared.DTOs.Responses.Role;
@using FlowManager.Shared.DTOs.Responses.User;
@using FlowManager.Client.DTOs;
@using FlowManager.Client.Services;
@using FlowManager.Shared.DTOs.Requests.User;

@if (ShowEditForm)
{
    <div class="popup-backdrop">
        <div class="popup-container">
            <h3>Edit User</h3>

            <label>Name:</label>
            <input class="popup-input" @bind="UserToEdit.Name" />

            <label>Email:</label>
            <input class="popup-input" @bind="UserToEdit.Email" />

            <label>Roles:</label>
            <div>
                <div>
                    <input type="checkbox"
                           id="adminRole"
                           name="adminRole"
                           @bind="_isAdmin">
                    <label for="adminRole">
                        Admin
                    </label>
                </div>

                <div>
                    <input type="checkbox"
                           id="moderatorRole"
                           name="moderatorRole"
                           @bind="_isModerator">
                    <label for="moderatorRole">
                        Moderator
                    </label>
                </div>
            </div>

            <div>
                *All the users are automatically set to employees.
            </div>

            <div class="modal-actions">
                <button @onclick="EditUser">Edit User</button>
                <button @onclick="() => ShowEditForm = false">Cancel</button>
            </div>
        </div>
    </div>
}
