
.container {
    background-color: #05053a;
    border-radius: 16px;
    padding: 40px 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.h2-form{
    color: #f3f3f0 !important;
}
.toggle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.toggle button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
    font-weight: bold;
    color: #bfbfbf;
}

.toggle button.active {
    border-color: #00d7a0;
    color: #00d7a0;
}

.form-container {
    position: relative;
}

.form {
    display: none;
    flex-direction: column;
    animation: fadeIn 0.5s ease-in-out;
}

.form.active {
    display: flex;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
}

.form button {
    background: #00d7a0;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.form button:hover {
    background: #01af83;
}

.switch-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.switch-text span {
    color: #00d7a0;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}