.request-table-container {
    width: 100%;
    margin-top: 30px;
}

.request-table {
    width: 100%;
    border-collapse: collapse;
    animation: fadein 0.4s ease-out forwards;
}

.request-table th,
.request-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.request-table tbody tr:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.expanded-row td {
    background-color: #fafafa;
    padding: 20px;
}