.popup-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 40, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadein 0.3s ease-out forwards;
}

.popup-container {
    background: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    padding: 24px;
    width: 400px;
    color: var(--text-color);
    box-shadow: 0 0 20px #00d7a060;
}

.popup-container h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: center;
}

.popup-input,
.popup-textare {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    background: var(--background-color);
    color: var(--text-color);
}

.popup-textare {
    resize: vertical;
    min-height: 80px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.popup-send {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.popup-send:hover {
    background: #00b37a;
}

.popup-send:disabled {
    background: #004040;
    cursor: not-allowed;
}

.popup-cancel {
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

.popup-cancel:hover {
    background: var(--background-color2);
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}