@using FlowManager.Client.Services;
@using FlowManager.Client.ViewModels;
@using FlowManager.Shared.DTOs;
@using System.Reflection;

@inject NavigationManager Navigation;

<FlowManager.Client.Components.Admin.ImpersonationIndicator.ImpersonationIndicator/>

<div class="siemens-navbar">
    <nav>
        <div class="siemens-img">
            <h1 class="logo-title">
                FTD<span class="app-version"> v @simpleVersion</span>
            </h1>
        </div>

        <div class="nav-actions">

            <div class="home-btn">
                <button @onclick="NavigateToHome">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                    Home
                </button>
            </div>
        </div>
    </nav>
</div>

@code {

    protected string? version;
    protected string? simpleVersion;

    protected override async Task OnInitializedAsync()
    {
        version = Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion;

        simpleVersion = version?.Split(new char[] { '+', '-' })[0];
    }

    private void NavigateToHome()
    {
        Navigation.NavigateTo("/home");
    }
}