@using System.Net.Http.Json
@using FlowManager.Shared.DTOs.Requests
@using FlowManager.Shared.DTOs.Responses
@using FlowManager.Shared.DTOs.Responses.User
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using FlowManager.Client.ViewModels
@using FlowManager.Client.Services
@using FlowManager.Client.DTOs

@attribute [Authorize(Roles = "Admin")]

<div class="options-container">
    <button class="option-button @(_activeTab == "VIEWUSERS" ? "active" : "inactive")"
            @onclick='() => SetActiveTab("VIEWUSERS")'>
        View Users
    </button>

    <button class="option-button @(_activeTab == "VIEWTEAMS" ? "active" : "inactive")"
            @onclick='() => SetActiveTab("VIEWTEAMS")'>
        View Teams
    </button>
</div>

@if(_activeTab == "VIEWUSERS")
{
    <FlowManager.Client.Components.Admin.Members.ViewMembers.MembersViewUsersModal/>
}
else if(_activeTab == "VIEWTEAMS")
{
    <FlowManager.Client.Components.Admin.Members.ViewTeams.ViewTeamsModal/>
}
